---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const scope = 'user-top-read';
const redirectUri = import.meta.env.SPOTIFY_REDIRECT_URI;
const clientId = import.meta.env.SPOTIFY_CLIENT_ID;

const authUrl = `https://accounts.spotify.com/authorize?response_type=code&client_id=${clientId}&scope=${scope}&redirect_uri=${redirectUri}`;
const isLoggedIn = Astro.cookies.get('spotify_token')?.value;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="container-md">
    <div
      class="flex justify-center h-fit
          bg-gradient-to-b
          from-emerald-800
          p-6`"
    >
      <div class="flex flex-col items-center justify-center">
        <h2 class="mt-48 font-medium align-middle text-3xl text-center w-2/3">
          Unlock the Numbers Behind Your Music! Welcome to Statify, where your
          playlists turn into statistics. Log in to explore your musical journey
          from an entirely new perspective.
        </h2>
        {
          isLoggedIn ? null : (
            <div class="flex justify-center mt-10">
              <a
                href={authUrl}
                class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded"
              >
                Log in with Spotify
              </a>
            </div>
          )
        }
      </div>
    </div>
  </div>
</Layout>
