---
import Layout from '../layouts/Layout.astro';
import SongItem from '../components/SongItem.astro';
import { getTopArtists } from '../lib/spotify';
import ArtistItem from '../components/ArtistItem.astro';

const accessTokenCookie = Astro.cookies.get('spotify_token');
const accessToken = accessTokenCookie?.value;
if (!accessToken) {
  return Astro.redirect('/');
}
// Fetch top tracks for the last 4 weeks
const params = new URLSearchParams(Astro.request.url.split('?')[1] || '');
const term = params.get('term') || 'short_term';
console.log(`Fetching top tracks for term: ${term}`);
const artists = await getTopArtists(accessToken, term);
---

<Layout>
  <div
    class="h-fit
      flex
      justify-center
          bg-gradient-to-b
          from-emerald-800
          p-6`"
  >
    <div>
      <h1 class="font-bold text-3xl text-center m-10">
        Your Artists ({
          term === 'short_term'
            ? 'Last 4 weeks'
            : term === 'medium_term'
              ? 'Last 6 months'
              : 'All time'
        })
      </h1>
      <div>
        <div class="flex justify-center mb-4">
          <a
            href="/topArtists?term=short_term"
            class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mr-2"
          >
            Last 4 Weeks
          </a>
          <a
            href="/topArtists?term=medium_term"
            class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded mr-2"
          >
            Last 6 Months
          </a>
          <a
            href="/topArtists?term=long_term"
            class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded"
          >
            All Time
          </a>
        </div>
      </div>

      <div
        class="grid
      grid-cols-2
      sm:grid-cols-3
      md:grid-cols-5
      lg:grid-cols-4
      xl:grid-cols-5
      2xl:grid-cols-8
      gap-4
      
      m-4"
      >
        {artists.map((item: any) => <ArtistItem key={item.id} data={item} />)}
      </div>
    </div>
  </div>
</Layout>
