---
import '/src/styles/global.css';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content="
Astro v2.0.0" />
    <title>Statify</title>
  </head>
  <body>
    <Navbar />
    <div>
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  ¿ body,
  :root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
  }
</style>
